<header class="header">
    <span class="left-arrow">
        <img class="icon" src="img/arrow.png" />
    </span>
    <span id="month-name"></span>
    <span class="right-arrow">
        <img class="icon" src="img/arrow.png" />
    </span>
</header>
<nav class="nav">
    <div id="date-data" style="display: none;">{{dateData}}</div>
    <div id="holi-data" style="display: none;">{{holiDatas}}</div>
    <div id="id-data" style="display: none;">{{idData}}</div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <div>
        <img class="icon" id="task-button" src="img/task.png">
        <img class="icon" id="schedule-button" src="img/schedule.png">
        <img class="icon" id="calendar-button" src="img/calendar.png">
        <img class="icon" id="clock-button" src="img/clock.png">
    </div>
    <script src="js/g-login.js"></script>
</nav>