<header class="header">
    <span class="left-arrow">
        <img class="icon" src="img/arrow.png" />
    </span>
    <span id="month-name"></span>
    <span class="right-arrow">
        <img class="icon" src="img/arrow.png" />
    </span>
</header>
<nav class="nav">
    <div id="date-data" style="display: none;">{{dateData}}</div>
    <div id="holi-data" style="display: none;">{{holiDatas}}</div>
</nav>