<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/master.css">
    <title>
        Calendar
    </title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Calendar Background">
    </header>
    {{{body}}}
</body>
</html>