<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/master.css">
    <meta name="google-signin-client_id"
        content="128544084716-0ut687lr4v4n2lo1s88vj3kldq6dm65j.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>
        Calendar
    </title>
</head>

<body>
    <div
        style="background-image: url('img/background.jpg'); background-size: cover; background-position: center; width: 100%; height: 100%;">
        <div id="slide_body">
            {{{body}}}
        </div>
    </div>
</body>

</html>