<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/master.css">
    <title>
        Calendar
    </title>
</head>
<body>
    <div style="background-image: url('img/background.jpg'); background-size: cover; background-position: center; width: 100%; height: 100%;">
        {{{body}}}
    </div>
</body>
</html>