{{>menubar}}
<link rel="stylesheet" href="css/calendar.css">
<section class="section">
    <table class="calendar">
        <thead>
            <tr>
                <th class="sunday">일 SUN</th>
                <th>월 MON</th>
                <th>화 TUE</th>
                <th>수 WED</th>
                <th>목 THU</th>
                <th>금 FRI</th>
                <th class="saturday">토 SAT</th>
            </tr>
        </thead>
        <tbody id="calendar-grid">
        </tbody>
    </table>
</section>

<script type="module" src="js/calendar.js"></script>