<table>
    <tr style="height: 100%;">
        <td style="width: 50em; height: 100%;">
            <table class="vertical-box">
                <thead>
                    <img class="icon" src="img/logo.png" />
                </thead>
                <tbody></tbody>
            </table>
        </td>
        <td style="width: 100%; height: 100%;">
            <table class="vertical-box calendar">
                <thead>
                    <tr style="height: 8em; justify-content: space-between;">
                        <td class="left-arrow"></td>
                        <td id="month-name"></td>
                        <td class="right-arrow"></td>
                    </tr>
                </thead>
                <tbody id="calendar-grid">
                    <tr>
                        <th class="sunday">일 SUN</th>
                        <th>월 MON</th>
                        <th>화 TUE</th>
                        <th>수 WED</th>
                        <th>목 THU</th>
                        <th>금 FRI</th>
                        <th class="saturday">토 SAT</th>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<script type="module" src="js/calendar.js"></script>

