<link rel="stylesheet" href="css/clock.css">
<div id="clock-click">
    <div id="clock-task-box">
        <h2 id="clock-task"> </h2>
        <h2 id="clock-today"> </h2>
    </div>
    <h1 id="clock-countdown"></h1>
</div>
<script src="js/clock.js"></script>