<p>제목 : <input type="text" name="main" value="">
</p>
<ol>
    <li>시작시간 : <input type="time" name="start_time" value=""></li>
    <li>끝시간 : <input type="time" name="endtime" value=""></li>
    <li>장소 : <input type="text" name="starttime" value=""></li>
    <li>알람 시작 : 
        <select name="alrim">
            <option value="3분 전">3분 전</option>
            <option value="5분 전">5분 전</option>
            <option value="10분 전">10분 전</option>
            <option value="15분 전">15분 전</option>
            <option value="20분 전">20분 전</option>
        </select>
    </li>
    <li>반복
        <p>
            일<input type="checkbox" name="week" value="sun">
            월<input type="checkbox" name="week" value="mon">
            화<input type="checkbox" name="week" value="tue">
            수<input type="checkbox" name="week" value="wed">
            목<input type="checkbox" name="week" value="thu">
            금<input type="checkbox" name="week" value="fri">
            토<input type="checkbox" name="week" value="sat">
        </p>
    </li>
    <li>메모
        <p>
            <textarea>

            </textarea>
        </p>
    </li>
</ol>
<input type="button" value="저장">