@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	font-family: "Share Tech Mono", "Nanum Gothic Coding";
}
html::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #222222;
	color: #f1f1f1aa;
	word-break: keep-all;
}

.header {
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #e4e4e423;
	box-sizing: border-box;
}

.nav {
	width: 20%;
	height: 85%;
	float: left;
	border-right: 1px solid #e4e4e423;
	box-sizing: border-box;
}

.section {
	width: 80%;
	height: 85%;
	float: left;
}

.icon {
	width: 9vh;
	height: 100%;
}

.left-arrow {
	border: solid 0px;
	width: fit-content;
	height: fit-content;
}

.right-arrow {
	border: solid 0px;
	width: fit-content;
	height: fit-content;
	transform: scaleX(-1);
}
